# Domain specific
gesture-analysis/figures/

# Mac specific
*.DS_Store

# Pycharm
*.idea

# Byte-compiled / optimized / DLL files
gesture-analysis/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# gesture analysis specific
gesture-analysis/data/

# Distribution / packaging
.Python
gesture-analysis/build/
gesture-analysis/develop-eggs/
gesture-analysis/dist/
gesture-analysis/downloads/
gesture-analysis/eggs/
gesture-analysis/.eggs/
gesture-analysis/lib/
gesture-analysis/lib64/
gesture-analysis/parts/
gesture-analysis/sdist/
gesture-analysis/var/
gesture-analysis/wheels/
*.egg-info/
gesture-analysis/.installed.cfg
*.egg
gesture-analysis/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
gesture-analysis/pip-log.txt
gesture-analysis/pip-delete-this-directory.txt

# Unit test / coverage reports
gesture-analysis/htmlcov/
gesture-analysis/.tox/
gesture-analysis/.coverage
gesture-analysis/.coverage.*
gesture-analysis/.cache
gesture-analysis/nosetests.xml
gesture-analysis/coverage.xml
*.cover
gesture-analysis/.hypothesis/
gesture-analysis/.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
gesture-analysis/local_settings.py
gesture-analysis/db.sqlite3

# Flask stuff:
gesture-analysis/instance/
gesture-analysis/.webassets-cache

# Scrapy stuff:
gesture-analysis/.scrapy

# Sphinx documentation
gesture-analysis/docs/_build/

# PyBuilder
gesture-analysis/target/

# Jupyter Notebook
gesture-analysis/.ipynb_checkpoints
gesture-analysis/scripts/.ipynb_checkpoints/

# pyenv
gesture-analysis/.python-version

# celery beat schedule file
gesture-analysis/celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
gesture-analysis/.env
gesture-analysis/.venv
gesture-analysis/env/
gesture-analysis/venv/
gesture-analysis/ENV/
gesture-analysis/env.bak/
gesture-analysis/venv.bak/

# Spyder project settings
gesture-analysis/.spyderproject
gesture-analysis/.spyproject

# Rope project settings
gesture-analysis/.ropeproject

# mkdocs documentation
/site

# mypy
gesture-analysis/.mypy_cache/
